.right-footer {
  float: right;
}
.left-footer {
  margin-left: 5%;
  font-size: 28px;
  color: yellowgreen;
  font-weight: bold;
}
.img-logo-footer {
}
.right-text {
  font-weight: bold;
}

.text123 {
  color: #990000;
}
